body {
  height: 100vh;
  background-image: url('theme_images/welcome-img.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: 'Sacramento', cursive;
  text-align: center;

  box-sizing: border-box;
}

  .header {
    font-size: 170px;
    font-weight: bold;
    padding: 20px;
  }

  .welcome-menu {
    border: 5px solid black;
    border-radius: 12.5px;
    width: 50%;
    margin: 0 auto;
    padding: 0 10px;
  }

    .parent-p {
      font-size: 30px;
    }
      p {
        font-size: 25px;
      }
    
    .start-game {
      border: 3px solid black;
      border-radius: 12.5px;
      background-color: transparent;
      height: 50px;
      margin-bottom: 10px;
    }
      a {
        text-decoration: none;
        color: black;
        font-family: 'Sacramento', cursive;
        font-size: 30px;
        font-weight: bolder;
      }