body {
  height: 100vh;
  background-image: url('theme_images/welcome-img.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  font-family: 'Sacramento', cursive;
}

.background {
  height: 100%;

}